<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742530714380-gvm16clvl2gnqmhmh00ln6qbempqjjes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742530714380-gvm16clvl2gnqmhmh00ln6qbempqjjes</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ83nTDSS3jeb7RVw81RTnuU9bdxmeRxk</string>
	<key>GCM_SENDER_ID</key>
	<string>742530714380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fatbuck</string>
	<key>PROJECT_ID</key>
	<string>fat-buck-a1f13</string>
	<key>STORAGE_BUCKET</key>
	<string>fat-buck-a1f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742530714380:ios:af4e93887fd7c3f233d729</string>
	<key>DATABASE_URL</key>
	<string>https://fat-buck-a1f13.firebaseio.com</string>
</dict>
</plist>